body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

#menu {
  text-align: center;
}

#play-btn {
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #0f0;
  cursor: pointer;
}

#mute-btn {
    background-color: #232946; /* Cor de fundo escura, igual ao botão "Reiniciar" */
    color: #ff5470;           /* Cor do texto, igual ao botão "Reiniciar" */
    border: 2px solid #ff5470; /* Borda na mesma cor do texto */
    padding: 5px 10px;         /* Espaçamento interno */
    font-family: monospace;    /* Fonte consistente com o resto do jogo */
    font-size: 16px;
    cursor: pointer;
    width: 120px;              /* Largura fixa para o texto não alterar o tamanho */
    transition: opacity 0.2s;  /* Transição suave para o efeito hover */
}

#lives-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 100;
}

#lives-container img{
  width: 50px;
  height: 50px;
  image-rendering: pixelated;
  transition: transform 0.2s ease-in-out;
}

#lives-container img:hover {
  transform: scale(1.2);
}

canvas {
  background-image: url(/Modo-Clássico/assets/EspaçoFINAL\(1200x720\).png);
  background-size: cover;
  display: block;
  margin: auto;
}