body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  background: black;
  overflow: hidden;
  text-align: center;
}

/* Canvas de fundo (substitui as estrelas animadas) */
#ultimo-Sobrevivente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: none;
  background: black;
}
/* Menu central */
#menu {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #00ffea;
  border-radius: 12px;
  padding: 40px 20px;
  box-shadow: 0 0 20px #00ffee, 0 0 40px #00ffee;
  margin-top: 10vh;
  display: inline-block;
}

#menu h1 {
  font-size: 28px;
  color: #00ffea;
  text-shadow: 0 0 10px #00ffee, 0 0 20px #00ffee;
  margin-bottom: 20px;
}

#menu h2 {
  font-size: 12px;
  color: #ccc;
  margin-top: 20px;
}

/* Botão Play */
#play-btn {
  background: black;
  border: 2px solid #00ffea;
  color: #00ffea;
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  text-shadow: 0 0 8px #00ffee;
}

#play-btn:hover {
  background: #00ffea;
  color: black;
  box-shadow: 0 0 20px #00ffee, 0 0 40px #00ffee;
}
