/* Estilo geral da página */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-family: 'Press Start 2P', monospace;
  overflow: hidden; /* Esconde barras de rolagem */
}

/* Container principal dos créditos */
.credits-container {
  text-align: center;
  line-height: 2; /* Aumenta o espaçamento entre as linhas */
  z-index: 10;
}

.credits-container h1 {
  font-size: 4em;
  color: #00aaff;
  text-shadow: 3px 3px 0px #024f9b;
  margin-bottom: 40px;
}

.credits-container p {
  font-size: 1em;
  color: #a7a7a7;
}

/* Estilo do botão de Retornar */
button {
  background: rgb(0, 0, 0);
  border: 2px solid #024f9b;
  color: #00aaff;
  padding: 15px 30px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background: #00aaff;
  color: black;
  box-shadow: 0 0 20px #024f9b, 0 0 40px #024f9b;
}

/* Animação de estrelas no fundo (mesma da página principal) */
.stars {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: moveStars 60s linear infinite;
  z-index: -1;
}
@keyframes moveStars {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}